# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/estate/

# Environment Variables
.env
backend/.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db